# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

release
.vscode/.debug.env
package-lock.json
pnpm-lock.yaml
yarn.lock

saves/
schematics/
screetshots/
crash-reports/
backups/
local/
usercache.json
usernamecache.json
servers.dat_old
screenshots/
options.txt
servers.dat
.sl_password
